.scramble-phone:before {
  content: attr(data-website) "\0020" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.scramble-email:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.fill-theme {
  fill: #71b7d5;
}

.border-theme {
  border-color: rgb(113 183 213 / var(--tw-border-opacity));
}

.bg-theme {
  background-color: rgb(113 183 213 / var(--tw-bg-opacity));
}

.\*\:before\:bg-theme > *::before {
  background-color: rgb(113 183 213 / var(--tw-bg-opacity));
}

.after\:\!bg-theme::after {
  background-color: rgb(113 183 213 / var(--tw-bg-opacity)) !important;
}

.hover\:border-theme:hover {
  border-color: rgb(113 183 213 / var(--tw-border-opacity));
}

.hover\:bg-theme:hover {
  background-color: rgb(113 183 213 / var(--tw-bg-opacity));
}

.hover\:text-theme:hover {
  color: rgb(113 183 213 / var(--tw-text-opacity));
}

.focus\:border-theme:focus {
  border-color: rgb(113 183 213 / var(--tw-border-opacity));
}

.group:hover .group-hover\:text-theme {
  color: rgb(113 183 213 / var(--tw-text-opacity));
}

.group.active .group-\[\&\.active\]\:text-theme {
  color: rgb(113 183 213 / var(--tw-text-opacity));
}

.dark\:hover\:border-theme:hover:is(.dark *) {
  border-color: rgb(113 183 213 / var(--tw-border-opacity));
}

.dark\:hover\:text-theme:hover:is(.dark *) {
  color: rgb(113 183 213 / var(--tw-text-opacity));
}

.dark\:focus\:border-theme:focus:is(.dark *) {
  border-color: rgb(113 183 213 / var(--tw-border-opacity));
}

.md\:before\:bg-theme::before {
  background-color: rgb(113 183 213 / var(--tw-bg-opacity));
}

.\[\&\.active\]\:bg-theme.active {
  background-color: rgb(113 183 213 / var(--tw-bg-opacity));
}

.text-theme {
  color: rgb(113 183 213 / var(--tw-text-opacity));
}

body {
  background-color: rgb(24 25 26 / var(--tw-bg-opacity));
}

.light {
  position: absolute;
  width: 0px;
  opacity: 1;
  background-color: #3a3d40;
  box-shadow: #4b4d4f 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 1; /* Ensure lights are behind the profile card */
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

@-webkit-keyframes floatUp {
  0% { top: 100vh; opacity: 0; }
  25% { opacity: 0.33; }
  50% { top: 0vh; opacity: 0.1; }
  75% { opacity: 0.33; }
  100% { top: -100vh; opacity: 0; }
}
@-moz-keyframes floatUp {
  0% { top: 100vh; opacity: 0; }
  25% { opacity: 0.33; }
  50% { top: 0vh; opacity: 0.1; }
  75% { opacity: 0.33; }
  100% { top: -100vh; opacity: 0; }
}
@-o-keyframes floatUp {
  0% { top: 100vh; opacity: 0; }
  25% { opacity: 0.33; }
  50% { top: 0vh; opacity: 0.1; }
  75% { opacity: 0.33; }
  100% { top: -100vh; opacity: 0; }
}
@keyframes floatUp {
  0% { top: 100vh; opacity: 0; }
  25% { opacity: 0.33; }
  50% { top: 0vh; opacity: 0.1; }
  75% { opacity: 0.33; }
  100% { top: -100vh; opacity: 0; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.33; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.33; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.33; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.33; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0; }
}

@-o-keyframes fadeOut {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0; }
}

@-webkit-keyframes finalFade {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0.33; }
}

@-moz-keyframes finalFade {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0.33; }
}

@-o-keyframes finalFade {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0.33; }
}

@keyframes finalFade {
  0% { opacity: 0; }
  30% { opacity: 0.33; }
  80% { opacity: .9; }
  100% { opacity: 0.33; }
}
